
  body {
    background-color: #eaf6f6;
        }
        h1
        {
          color: #66BFBF;

        }

        h2
        {
          color:#66BFBF;
        }
  hr
  {

    border-style:  none  ;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;

    width: 10%;
  }
  img:hover
  {
    height: 200px;
    border-radius: 100%;
    box-shadow:10px 1px 8px   ;
  }
  img:active
  {
    border: dotted;
  }
